@charset "UTF-8";
@import 'config';

html { 
  font-size: 16px;
}
body{
	font-family: "Source Code Pro","メイリオ","Meiryo","ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif,verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	color: #555;
	font-size: 1.0rem;
	word-wrap: break-word;  // 文字列折り返し
}
h1{
	font-size: 2.25rem; // 38px
}
h2{
	font-size: 1.75rem; // 28px
	margin-bottom: 1.75rem;
}
h3{
	font-size: 1.5rem; // 24px
	margin-bottom: 1.5rem;
}
h4{
	font-size: 1.25rem; // 20px
	margin-bottom: 1.25rem;
}
h5{
	font-size: 1.0rem; // 16px
	margin-bottom: 1.0rem;
}
// 画像編
img{
  max-width:100%;
  height:auto;
	&.mn-icon{ //menu　icon
		width: 2.0rem;
    vertical-align: middle;
    margin-left: 1rem;
	}
}

ol{
	margin-left: 1.0rem;
}
dl{
	dt {
		margin: 0 0 0.25rem 0;
	}
	dd{
		margin-left: 1rem;
		margin-bottom: 0.5rem;
	}
	&.list-style dd{
		display: list-item;
		margin-left: 2rem;
	}
}

ul.style-none li{
	list-style-type: none;
}

.small{
	font-size: 0.75rem !important;
}

.clearfix {
  overflow: hidden;
  zoom: 1;	
}

#wrapper>*>.inner {
	max-width: 1024px;
	padding: 0 1.0rem;
}
#main .inner {
	font-size: 1.25rem; // 20px
}

.image.left.appicon img, .image.right.appicon img{
	width: 150px;	
}
a{
	color: #2c6ebd;
	&:hover img{
		opacity: 0.7;
	}
}
hr{
	clear: both;
}
.tiles article>.image:after{
	background-image: none;
}

.tweet-box{
  display: -webkit-flex; /* Safari */
  display: flex;	
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap:         wrap;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;	
	&-item{
		width: 320px;
		max-width: 100%;
	}
}
//================================================
// 忍者おまとめボタン　カスタマイズ
//================================================
.ninja_onebutton{
	margin-bottom: 2.5rem;
	display: block;
}		


//================================================
// ヨメレバ　カスタマイズ
//================================================
//  
// 次のCSSフォーマットに対応している。
// 画像大　で取得（高い解像度への対応）
// レイアウト			amazlet風-3
// ショップアイコン　なし
// 
.booklink-box{
	// 高い解像度への対応
	.booklink-image{
		width: 121px;
	}
  .booklink-name{
    a {
      font-size: 1rem;
      line-height: 1.4;
    }
    .booklink-powered-date a{
      font-size: 0.8rem;      
    }
  }
	h5 {
		margin-bottom: 0.5rem;
	} .shoplinkamazon,.shoplinkkindle,.shoplinkrakuten,.shoplinkrakukobo,.shoplinkseven,.shoplinkbk1,.shoplinkehon,.shoplinkkino{
		background: none !important;
		margin: 0 5px 5px 0 !important;
		padding:0 !important;
    display: inline-block;
    a {
      padding: 10px 10px 10px 8px;
      display: inline-block;
      margin-bottom: 3px;
      text-decoration: none;
      font-weight: bold;
      text-decoration: none;
      color: white !important;
      font-size: 1rem;
      &:hover{
        color: white !important;
      }
    }
  }
  .shoplinkamazon a {
    background-color: #232f3e ;
    &:hover{
      background-color: lighten(#232f3e,15%) ;      
    }
		&:before {
			content: " \f270";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;
		}		
  }
  .shoplinkkindle a {
    background-color: #ED6C18 ;
    &:hover{
      background-color: lighten(#ED6C18,10%) ;      
    }
		&:before {
			content: " \f10a";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;
		}				
  }
  .shoplinkrakuten a{
      background-color: #bf0000;
    &:hover{
      background-color: lighten(#bf0000,10%) ;      
    }
		&:before {
			content: " \f25d";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;			
		}		
  }
  .shoplinkrakukobo a{
    background-color: #c2272d;
    &:hover{
      background-color: lighten(#c2272d,10%) ;      
    }
		&:before {
			content: " \f10a";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;			
		}		
  }	
  .shoplinkkino a{
      background-color: #004097;
    &:hover{
      background-color: lighten(#004097,10%) ;      
    }
		&:before {
			content: " \f02d";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;			
		}		
  }	
  .shoplinkehon a{
      background-color: #000066;
    &:hover{
      background-color: lighten(#000066,10%) ;      
    }
		&:before {
			content: " \f282";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;			
		}		
  }
  .shoplinkbk1 a{
      background-color: #0085cd;
    &:hover{
      background-color: lighten(#0085cd,10%) ;      
    }
		&:before {
			content: " \f1dc";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;			
		}		
  }
 	.shoplinkseven a{
      background-color: #05883c;
    &:hover{
      background-color: lighten(#05883c,10%) ;      
    }
		&:before {
			content: " \f28a";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;			
		}		
  }
	
}

// アプリ紹介レイアウト
ul.app-intro{
	width: 100%;
	overflow: hidden;
	list-style: none;
	li{
		float: left;
		&:first-child{
			width: 20%;
		}
		&:nth-child(2){
			padding-left: 3%;
			width: 75%;
		}
	}
}

// トップページに表示する重要な広告
.priority-ads{
	border: 1px gray dashed;
	padding: 1rem 1rem 0;
	text-align: left;
	a{
		display: inline-block;
	}
}

#header-title{
	width: 60%;
}

//================================================
// header
//================================================
#header{
  padding: 1rem 0 0.1rem 0;
	.title{
		font-size: 0.875rem;
		display: inline;
		font-weight: normal;
	}
}
//================================================
// main
//================================================
#main{
	.inner{
		h1 {
			position: relative;
			padding-bottom: .5rem;
			border-bottom: 4px solid #ccc;
		}
		h1::after {
			position: absolute;
			bottom: -4px;
			left: 0;
			z-index: 2;
			content: '';
			width: 20%;
			height: 4px;
			background-color: #fa4f31;
		}
		.tiles{
			h2{
				font-size: 1.25rem;
			}
		}
	}
}

//================================================
// footer
//================================================
#footer {
  padding: 5rem 0 0 0;
	.inner{
		h4{
			font-size: 1.25rem;
		}
	}
}

//================================================
// home
//================================================
.home #wrapper {
	background: url(/swiftbook/images/top_cover.png) no-repeat center 5px;
	background-size: auto 360px;
	// ヨメレバ
	.booklink-box{
		width: 65%;
		margin-bottom: 1rem;
		.booklink-name{
			a {
				font-size: 0.875rem;
			}
		}
	}
	.sns-area{
		margin-top: 2.5rem;
		display: flex;
		.tw-widgets{
			margin: 0 auto;
			max-width: 450px;
		}
	} 
	.news-area{
		border-top: 1px solid orange;
		border-bottom: 1px solid orange;
		margin-top: 2.5rem;
		padding-top: 1rem;
		h2{
			padding: 0.25rem 0 0.2rem 0.75rem;
			border-left: 4px solid #fa4f31;
		}
		p {
			margin-bottom: 1.5rem;
		}
	} 	
}
//================================================
// article
//================================================
.article{
	#main{
		.inner{
			h1{
				margin-bottom: 2.0rem;
			}
			h2{
				padding: 0.25rem 0 0.2rem 0.75rem;
				border-left: 4px solid #fa4f31;
			}
			h3{
				padding-bottom: 0.5rem;
				border-bottom: 1px solid #ccc;
				margin-bottom: 1.5rem;
			}
		}
	}
}

//================================================
// max-width: 1024px
//================================================
@media screen and (max-width: 1024px){
	max-width: 100%;
	.home #wrapper {
		background-position: right 5px 5px;
		background-size: auto 350px;
	}
}
//================================================
// max-width: 980px
//================================================
@media screen and (max-width: 980px){
	// ポチレバレイアウト
	ul.app-intro{
		display: block;
		li{
			display: inline-block;
			&:first-child{
				width: 100%;
			}
		}
	}
	
	#header-title{
		width: 80%;
	}
	.home #wrapper {
		background: none;
		// ヨメレバ
		.booklink-box{
			width: 100%;
		}
		.sns-area{
			display:none;
		} 
	}
}
//================================================
// max-width: 480px
//================================================
@media screen and (max-width: 480px){
	html { 
		font-size: 14px;
	}	
	body{
		background-image: none;
	}
	#header{
		.title {
			font-size: 0.5rem;
			display: inline-block;
			width: 60%;
		}
		.logo{
			margin: 0 0 1rem 0;
		}
	}	
	#header-title{
		width: auto;
	}
	// ヨメレバ
	.booklink-box .booklink-image{
		float: none !important;
    width: 70%;
    margin: 0 auto !important;		
	}
}