@charset "UTF-8";
@import 'config';

html { 
  font-size: 100%;
}
body{
	font-family: "Source Code Pro","メイリオ","Meiryo","ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif,verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	color: #555;
	font-size: 1.0rem;
}
h1{
	font-size: 2.25rem; // 38px
}
h2{
	font-size: 2.0rem; // 32px
}
h3{
	font-size: 1.75rem; // 28px
}
h4{
	font-size: 1.5rem; // 24px
}
h5{
	font-size: 1.25rem; // 20px
}

// 画像編
img{
  max-width:100%;
  height:auto;
	&.mn-icon{ //menu　icon
		width: 2.0rem;
    vertical-align: middle;
    margin-left: 1rem;
	}
}

ul.style-none li{
	list-style-type: none;
}

.small{
	font-size: 0.75rem !important;
}

#wrapper>*>.inner {
	max-width: 1024px;
	padding: 0 1.0rem;
}
#main .inner {
	font-size: 1.25rem; // 20px
}

//================================================
// ヨメレバ　カスタマイズ
//================================================
//  
// 次のCSSフォーマットに対応している。
// 画像大　で取得（高い解像度への対応）
// レイアウト			amazlet風-3
// ショップアイコン　なし
// 
.booklink-box{
	// 高い解像度への対応
	.booklink-image{
		width: 121px;
	}
  .booklink-name{
    a {
      font-size: 1rem;
      line-height: 1.4;
    }
    .booklink-powered-date a{
      font-size: 0.8rem;      
    }
  }
  .shoplinkamazon,.shoplinkkindle,.shoplinkrakuten{
		background: none !important;
		margin: 0 5px 5px 0 !important;
		padding:0 !important;
    display: inline-block;
    a {
      padding: 12px 8px;
      display: inline-block;
      margin-bottom: 3px;
      text-decoration: none;
      font-weight: bold;
      text-decoration: none;
      color: white !important;
      font-size: 1rem;
      &:hover{
        color: white !important;
      }
    }
  }
  .shoplinkamazon a {
    background-color: #232f3e ;
    &:hover{
      background-color: lighten(#232f3e,15%) ;      
    }
		&:before {
			content: " \f270";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;
		}		
  }
  .shoplinkkindle a {
    background-color: #ED6C18 ;
    &:hover{
      background-color: lighten(#ED6C18,10%) ;      
    }
		&:before {
			content: " \f10a";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;
		}				
  }
  .shoplinkrakuten a {
      background-color: #bf0000;
    &:hover{
      background-color: lighten(#bf0000,10%) ;      
    }
		&:before {
			content: " \f25d";
			font-family: FontAwesome;
			font-size: 1.25rem;
			margin-right: 10px;			
		}		
  }
}

#header-title{
	width: 60%;
}

//================================================
// header
//================================================
#header{
  padding: 1rem 0 0.1rem 0;
	.title{
		font-size: 0.875rem;
		display: inline;
		font-weight: normal;
	}
}

//================================================
// main
//================================================
#main{
	.inner{
		h1 {
			position: relative;
			padding-bottom: .5rem;
			border-bottom: 4px solid #ccc;
		}
		h1::after {
			position: absolute;
			bottom: -4px;
			left: 0;
			z-index: 2;
			content: '';
			width: 20%;
			height: 4px;
			background-color: #fa4f31;
		}
	}
}

//================================================
// footer
//================================================
#footer {
  padding: 5rem 0 0 0;
}

//================================================
// home
//================================================
.home #wrapper {
	background: url(/swiftbook/images/top_cover.png) no-repeat 86% 5px;
	background-size: 22%;
	
	// ヨメレバ
	.booklink-box{
		.booklink-name{
			a {
				font-size: 0.875rem;
			}
		}
	}
}


//================================================
// max-width: 1024px
//================================================
@media screen and (max-width: 1024px){
	max-width: 100%;
}
//================================================
// max-width: 980px
//================================================
@media screen and (max-width: 980px){
	#header-title{
		width: 80%;
	}
	.home #wrapper {
		background: none;
	}
}
//================================================
// max-width: 480px
//================================================
@media screen and (max-width: 480px){
	#header{
		.title {
			font-size: 0.5rem;
			display: inline-block;
			width: 60%;
		}
		.logo{
			margin: 0 0 1rem 0;
		}
	}	
	#header-title{
		width: auto;
	}
	// ヨメレバ
	.booklink-box .booklink-image{
		float: none !important;
	}
}