@charset "UTF-8";
@import 'config';

// 画像編
img{
  width:100%;
  height:auto;
}

#wrapper{
	background: url(/swiftbook/images/top_cover.png) no-repeat 80% 0px;
	background-size: 18%;	
}

#header-title{
	width: 60%;
}
